<% provide(:title, 'Sign up') %>
<h1>Users#new</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <!--Railsはformタグを作成するときに@userオブジェクトを使います。
        すべてのRubyオブジェクトは自分のクラスを知っている (4.4.1) ので、Railsは@userのクラスがUserであることを認識します-->
      <%= render 'form' %>
    </div>
</div>
<p>Find me in app/views/users/new.html.erb</p>
